/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 mars 2016, 11:33:34
    Author     : Clem
*/
body {
    background-image: url(img/fond.png);
    font-family: Verdana,sans-serif;
    width: 100%;
    height: 100%;
}

header {
    background-color: #f56b2a;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    height: 50px;
    text-align: center;
}

header .titre {
    float: left;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 0px;
}

header #enregistrement {
    float: right;
    padding-right: 40px;
    padding-top: 11px;
    text-align: center;
}

header #connexion {
    /*width: 800px;*/
    padding-top: 8px;
    float: left;
    padding-left: 45px;
}

footer {
    background-color: #111;
    color : #fff;
    padding: 10px;    
    display:inline-block;
    text-align:center;
    margin-top: 10px;
    height: 50px;
    width:100%;
    float:left;
}

body {
    margin: 0px;
}

.bouton {
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #f56b2a;
    color: #fff;
    padding: 5px 25px;
    margin-left: 3px;
    cursor: pointer;
    width: 120px;
}

.annonce {
    width: 80%;
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 5px;
    padding: 15px;
    border: 2px solid #FFE0B2;
    background-color: #FFCC80;
    border-radius: 10px;
}

.pagination{
    width: 80%;
    display:inline-block;
    text-align:center;
    margin-left: auto;
    margin-right: auto; 
}

.pagination a {
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #f56b2a;
    color: #fff;
    margin: 1px;
    padding: 2px;
}

#formMail {
    margin-left: 10px;
    margin-top: 5px;
}

#labelMail {
    margin-bottom: 5px;
}

a:link { 
    text-decoration:none;
}

.cModalEnregistrementUser {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.9);
    opacity: 0;
    pointer-events: none;
}
.cModalEnregistrementUser:target {
    opacity:1;
    pointer-events: auto;
}
.cModalEnregistrementUser > div {
    max-width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    background: #fff;
}

.cModalAjoutAnnonce {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(128, 128, 128, 0.9);
    opacity: 0;
    pointer-events: none;
}
.cModalAjoutAnnonce:target {
    opacity:1;
    pointer-events: auto;
}
.cModalAjoutAnnonce > div {
    max-width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    background: #fff;
}

.close {
	background: #f56b2a;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.btns-modify{
    display: inline-block;
}

.btns-modify div {
    margin: 10px
}

#recherche {
    padding-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    width: 245px;
}

#annonceSearchForm {
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ratio {
    width: auto;
}

#afficheAnnonce {
    position: relative;
    z-index: 100;
    padding-left: 250px;
}

#affichePhoto {
    float: left;
    position: absolute;
    z-index: 200;
    padding-top: 20px;
    display: block;
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 150px;
}

#afficheMail {
    position: absolute;
    z-index: 200;
    padding-left: 500px;
    padding-top: 80px;
    z-index: 150;
}

.annonce {
    position: relative;
}

#date {
    font-size: 10px;
    margin-top: 0px;
}

#titreAnnonce {
    margin-bottom: 0px;
}

#campusAnnonce {
    font-size: 20px;
}

.labelAddUser {
    padding-right: 100px;
}

.labelAddUser+input:radio {
    padding-right: 10px;
}

.labelRecherche {
    padding-right: 0px;
}

.labelAddAnnonceo {
    padding-right: 100px;
}

.labelAddAnnonce+input:radi {
    padding-right: 10px;
}

fieldset {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
}

.fieldset-form {
    width: 80%;
    margin: auto;
        
}

.mail-div {
    margin: auto;
    width: 80%;
    border: 2px #bbb;
    text-align: center;
}

/*
 * MENU
 */
nav{    
    background-color: #333;
    border-top: 1px solid #bbb;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #f56b2a;
}
